<% @articles.each do |article| %>
  <div class="box my-2">
  <%= link_to (article_path(article)) do %>
  <h3><%= article.title %></h3>
  <% end %>
  <p><%= article.content %>.</p>
  </div>
<% end %>

